@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f3eee7;
  color: color-light-text;
}

.backoffice-layout {
  @apply bg-light-bg  w-screen h-full;
}

/* -- TopBar -- */
.top-bar {
  @apply flex justify-between items-center;
  @apply bg-light-bg w-full h-20 px-5 border-b-2 border-[#E1DDD6] text-light-text;
}

.logo-name {
  @apply flex justify-between;
  @apply w-44 h-4/5;
}
.logo {
  @apply w-16 h-full rounded-full z-10;
}
.name {
  @apply my-auto text-[#6ABE46] font-medium text-xl;
}

.sign-in-out {
  @apply flex justify-evenly items-center;
  @apply w-28 py-3 px-2  bg-light-createB rounded-full text-black;
}

/* -- - -- */

/* -- SideBar_Container -- */
.side-container {
  @apply flex justify-evenly my-5 px-10  max-w-full h-full;
}

/* SideBar */

.side-bar {
  @apply flex flex-col justify-start items-center p-3;
  @apply w-[245px] h-lvh bg-light-color rounded-2xl;
}
.side-bar-items,
.side-bar-items-click {
  @apply bg-light-color  overflow-hidden my-[8px] rounded-full h-[50px] w-[220px];
}

.list-icon {
  @apply text-[#b2d8a0];
}
.list-text {
  @apply text-[#7b818e];
}

.side-bar-items:hover {
  @apply bg-inherit;
  .list-icon {
    @apply text-light-createB;
  }
  .list-text {
    @apply text-light-text;
  }
}

.side-bar-items-click:hover {
  @apply bg-[#e9d7ba];
}

.side-bar-items-click {
  @apply bg-[#F5E2C3];
  .list-icon {
    @apply text-light-createB;
  }
  .list-text {
    @apply text-light-text;
  }
}

/* Container */

.container {
  @apply bg-light-color max-w-full h-screen mx-6 p-4 rounded-2xl flex flex-col;
}
.button {
  @apply bg-light-createB text-light-text   flex justify-center items-center self-end;
}

.app-card {
  @apply bg-[#FFFFFF] w-52 h-64 flex flex-col items-center justify-between m-3 rounded-3xl p-3;
}

/* -- - -- */

.button,
.cancle-b,
.create-b,
.delete-b {
  @apply w-fit h-10 rounded-xl px-5 text-center;
}

.cancle-b {
  @apply bg-light-cancleB text-light-text;
}

.create-b {
  @apply bg-light-createB text-light-text;
}

.delete-b {
  @apply bg-red-300 text-light-text;
}

.order-layout {
  @apply bg-light-color  max-w-full  max-h-full flex  items-center flex-col;
}

.order-body {
  @apply w-[70rem] p-4 rounded-2xl flex flex-col relative bottom-28;
}
/* bottom-24 */
