@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: text-white-text;
  color: color-white-text;
}

.layout {
  @apply bg-white-bg  w-screen h-full;
}

/* -- TopBar -- */
.top-bar {
  @apply flex justify-between items-center;
  @apply bg-white-bg w-full h-20 px-5 border-b-2 border-[#E1DDD6] text-white-text;
}

.logo-name {
  @apply flex justify-between;
  @apply w-44 h-4/5;
}
.logo {
  @apply w-14 h-full rounded-full z-10;
}
.name {
  @apply my-auto text-[#6ABE46] font-medium text-xl;
}

.sign-in-out {
  @apply flex justify-evenly items-center;
  @apply w-28 py-3 px-2  bg-white-createB rounded-full text-black;
}

/* -- - -- */

/* -- SideBar_Container -- */
.side-container {
  @apply flex justify-evenly my-5 px-10  max-w-full h-full;
}

/* SideBar */

.side-bar {
  @apply flex flex-col justify-start items-center;
  @apply w-[245px] h-lvh bg-white-color rounded-2xl;
}
.side-bar-items {
  @apply overflow-hidden my-[10px] rounded-full h-[50px] w-[220px];
}

.list-icon {
  @apply text-[#a4c595];
}
.list-text {
  @apply text-[#575d69];
}

.side-bar-items:hover {
  .list-icon {
    @apply text-white-createB;
  }
  .list-text {
    @apply text-white-text;
  }
}

.side-bar-items:hover {
  @apply bg-[#F5E2C3];
}

/* Container */

.container {
  @apply bg-white-color w-full h-screen mx-6 p-4 rounded-2xl flex flex-col;
}
.button {
  @apply bg-white-createB text-white-text   flex justify-center items-center self-end;
}

/* -- - -- */

.button,
.cancle-b,
.create-b,
.delete-b {
  @apply w-fit h-10 rounded-xl px-5 text-center;
}

.cancle-b {
  @apply bg-white-cancleB text-white-text;
}

.create-b {
  @apply bg-white-createB text-white-text;
}

.delete-b {
  @apply bg-red-300 text-white-text;
}
